{% extends "bookmodule/layouts/base.html" %}
{% block title %}Links Example{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'links.css' %}">

<!-- Go to QU website (open a new tab) -->
<a class="link green-color" href="https://www.qu.edu.qa" target="_blank">Go to QU website (open a new tab)</a><br>

<!-- Go to QU website (open in the same page/tab) -->
<a class="link gray-color" href="https://www.qu.edu.qa" target="_self">Go to QU website (open in the same page/tab)</a><br>

<!-- Go to QU website (open in the same page/tab) -->
<a class="link black-color" href="https://www.qu.edu.qa">Go to QU website (open in the same page/tab)</a><br>


{% endblock %}