{% extends "bookmodule/layouts/base.html" %}
{% block title %}Text Formatting Example{% endblock %}
{% block content %}
<h1>Example of Formatting Tags</h1>

<p><b>This text has subtext using b tag.</b></p>
<p><strong>This text has subtext using strong tag.</strong></p>
<p><i>This text has subtext using i tag.</i></p>
<p><em>This text has subtext using emphasize tag.</em></p>
<p><small>This text has subtext using small tag.</small></p>
<p><mark>This text has subtext using mark tag.</mark></p>
<p><del>This text has subtext using del tag.</del></p>
<p><ins>This text has subtext using ins tag.</ins></p>
<p>This text has X<sub>subtext</sub> using sub tag.</p>
<p>This text has X<sup>subtext</sup> using sup tag.</p>

{% endblock %}
